body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8C8DC;
}

.header-text {
  font-family: 'Nunito';
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}